
.App {
  background-image: url("/public/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  width: 100vw;
  animation: slideshow 120s linear infinite;
}
@keyframes slideshow {
  from   { background-position: 0; }
  to { background-position: -3840px 0; }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

